.col-md-2 {
    border: 1px solid;
    margin-bottom: 20px;
    margin-left: 40px;
    border-radius: 10px;
  
}     
.filefolder.card {
    padding-left: 40px;
    padding-top: 20px;
}

.button.btn.btn-danger.float-right{
    margin-right: -22rem;
}
.float-right.col {
    margin-right: -45rem;
}
